.gallary{
    display: grid;
    gap: 3px;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(6, 150px);

    img{
    width: 100%;
    height: 100%;}
}
.banar-layout{
    grid-column: span 6;
    grid-row: span 2;

}
.normal-layout{
    grid-column: span 2;
    grid-row: span 2;
}

.wid-layout{
    grid-column: span 2;
    grid-row:  span 1;
}
.small-layout{
    grid-column: span 1;
    grid-row:  span 1;
}
